<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  {{#link-to "about" class="button"}}
    About Us
  {{/link-to}}
</div>

<!-- This outlet allows us to display active nexted routes.
Having a parent route (in this case, /rentals) means all of that parent information
Can be passed down, which allows for headers/footers/etc-->
{{outlet}}
